.task-item {
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 0px 0px 1px 0px rgba(18, 3, 62, 0.1), 0px 1px 1px 0px rgba(18, 3, 62, 0.1);
  border-radius: 8px;
  padding: 16px;
  height: 50px;

  .name-section {
    display: flex;
    align-items: center;

    p {
      color: #001c39;
      font-family: Inter;
      font-size: 13px;
      font-weight: 400;
      margin-left: 4px;

      &.hovered {
        width: 150px;
      }
    }

    .dropdown {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      box-shadow: none;
      border-radius: 0;
      width: 20px;
      height: 20px;
      padding: 0;
      margin-right: 4px;

      &.isOpen {
        transform: rotate(90deg);
      }
    }
  }

  &.hovered {
    justify-content: space-between;
  }
}
