.workspace-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;

  &-name {
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 6px;
  }
}

.create-mode {
  &.disabled {
    border: 1px solid var(--midnight-blue-300, #b8b3c5);
    background: var(--midnight-blue-200, #d0cdd8);
    box-shadow: none;

    .workspace-content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20px;

      &-name {
        color: #594f78;
      }
    }

    &[disabled] {
      cursor: not-allowed;
    }
  }

  &.enabled {
    border: 1px solid #007dfc;
    background: #007dfc;
    box-shadow: 0px 0px 0px 0px rgba(18, 3, 62, 0.1), 0px 0px 1px 0px rgba(18, 3, 62, 0.1),
      0px 1px 1px 0px rgba(18, 3, 62, 0.09), 0px 3px 2px 0px rgba(18, 3, 62, 0.05),
      0px 5px 2px 0px rgba(18, 3, 62, 0.01), 0px 8px 2px 0px rgba(18, 3, 62, 0);

    .workspace-content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20px;

      &-name {
        color: #fff;
      }
    }

    &:hover {
      opacity: 0.8;
      border: 1px solid #007dfc;
      background: #007dfc;
    }
  }
}
