.action-buttons {
  display: flex;
  width: 44px;
  gap: 12px;

  .button {
    border: none;
    background: transparent;
    padding: 0px;
    box-shadow: none;

    &:hover {
      background: transparent;
    }
  }
}
