.list {
  background: #ecf1fd;
  border-radius: 16px;
  display: grid;
  grid-auto-rows: max-content;
  grid-gap: 8px;
  padding: 8px;

  .list-name {
    display: flex;
    align-items: center;

    h1 {
      font-family: Inter;
      font-size: 13px;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0em;
      padding-left: 8px;
      color: #001c39;

      &.hovered {
        width: 150px;
      }
    }

    &.hovered {
      justify-content: space-between;
    }
  }

  .button-card-creator {
    background: transparent;
    padding: 0;
    box-shadow: none;
    border: none;
    display: grid;

    .card-creator-content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;

      .card-creator-name {
        margin-left: 4px;
        color: #88819f;
        font-family: Inter;
        font-size: 13px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0em;
      }
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
