.container {
  display: grid;
  grid-auto-columns: 294px;
  grid-auto-flow: column;
  grid-gap: 24px;
  height: auto;
  overflow: auto;
  margin-left: 24px;
}

.empty-container {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  color: #001c39;
  margin-left: 24px;
}
