.board-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 64px;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 8px;

  .board-item-content {
    display: flex;
    align-items: center;

    img {
      width: 32px;
      height: 32px;
      margin-right: 12px;
    }

    .initials {
      min-width: 32px;
      width: 32px;
      height: 32px;
      margin-right: 12px;
      background-color: #b3c4d6;
      border-radius: 8px;
      text-align: center;
      line-height: 32px;
      color: #001c39;
      font-family: Inter;
      font-size: 13px;
      font-style: normal;
      font-weight: 600;
    }

    span {
      color: #001c39;
      font-family: Inter;
      font-size: 13px;
      font-style: normal;
      font-weight: 600;
      line-height: 18px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &.hovered {
        width: 150px;
      }
    }
  }

  &.inactive-board {
    opacity: 0.4;
    background: transparent;
  }

  &.active-board {
    background: #f4f7fe;
  }

  &.hovered {
    justify-content: space-between;
  }
}
