.checkbox-container {
  display: flex;

  .checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #f2f6fe;
    border-radius: 8px;
    transition: all 150ms;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    text-align: center;
  }
}
